p {}
#para1 {
  	text-align: left;
  	color: #000000;
    font-size: 20px
}
#para2 {
  	text-align: left;
  	color: #000000;
    font-size: 20px
}
#para3 {
  	text-align: left;
  	color: #000000;
    font-size: 20px
}
#title {
  	text-align: left;
  	color: #faa613;
    font-size: 50px;
}
#Popcorn {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#Popcorn td, #Popcorn th {
  border: 1px solid #ddd;
  padding: 8px;
}

#Popcorn tr:nth-child(even){background-color: #faa613;}

#Popcorn tr:hover {background-color: #ddd;}

#Popcorn th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #008B8B;
  color: white;
}
